.timeline-container {
    display: grid;
    /* Use Grid */
    grid-template-columns: 1fr 1fr;
    /* Create two columns */
    gap: 10px;
    /* Add space between the columns */
}

.timeline-section {
    display: grid;
    /* Use Grid */
    grid-auto-rows: min-content;
    /* Each row is as tall as its tallest content */
}

.timeline {
    width: 90%;
    /* Use the full width of the .timeline-section */
}

.timeline li {
    display: flex;
    /* Use Flexbox */
}

.timeline .date {
    width: 90px;
    /* Adjust as needed */
    margin-right: 12px;
    /* Adjust as needed */
    flex-shrink: 0;
    /* Prevents the date from shrinking if space is tight */
}

.timeline .event {
    flex-grow: 1;
    /* Allows the event to take up the remaining space */
}

hr {
    width: 95%;
    /* Set the width */
    border: none;
    /* Remove the border */
    border-top: 1px dashed rgb(255, 255, 255);
    /* Add a top border */
    margin: 0 auto;
    /* Center the hr */
}